<div style="margin-left: 10%; margin-right: 10%;">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/horta-1.jpg" class="d-block w-100 h-90" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/horta-2.jpg" class="d-block w-100 h-90" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/horta-3.jpg" class="d-block w-100 h-90" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div>
    <h1 class="mt-4">Horta-Fácil</h1>
    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will
      give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
      the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
      pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are.</p>
    <p>
      But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will
      give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
      the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
      pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
      extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
      is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
      To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some
      advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
      annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </p>
  </div>
</div>