.bg-farm-green {
  background-color: #198754 !important;
}

.bg-farm-cinza {
  background-color: #d3d3d4 !important;
}

.bg-farm-fundo {
  background-color: #dcdcdc !important;
}

.bg-farm-top {
  background-color: #708090 !important;
}

.farm-letter-top {
  color: #f8f8ff!important;
}